@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
	--dark-blue: hsl(218, 44%, 22%);
	--grayish-blue: hsl(220, 15%, 55%);
	--light-gray: hsl(212, 45%, 89%);
	--white: hsl(0, 0%, 100%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}
body {
	width: 100vw;
	min-height: 100vh;
	background: var(--light-gray);
}
main {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
section {
	width: 336px;
	background: var(--white);
	padding: 1em;
	padding-bottom: 2.5em;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 1em;
	text-align: center;
	box-shadow: 0px 1em 1.5em rgba(0, 0, 0, 0.087);
}
img {
	width: 100%;
	border-radius: 10px;
}
article {
	padding: 0 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
h1 {
	color: var(--dark-blue);
	font-size: 1.5em;
	font-weight: 700;
}
p {
	color: var(--grayish-blue);
}
